@font-face {
    font-family: "Trebuchet MS";
    src: url(Trebuchet_MS.ttf);
}

body {
    background-color: #000000;
    font-family: "Trebuchet MS";
    color: #ffffff;
}

.title {
    font-size: 30px;
}

#main {

}

.input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
}

.submit {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    display: block;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 40px;
    margin-top: 25px;
}

#chatbot {
    vertical-align: bottom;
    background-color: green;
    height: 90vh;
}

.output {
    text-align: center;
}