@font-face {
    font-family: "Trebuchet MS";
    src: url(Trebuchet_MS.ttf);
}

body {
    background-color: #000000;
    font-family: "Trebuchet MS";
    color: #ffffff;
}

.title {
    font-size: 30px;
}

.input {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
}

.submit {
    display: block;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 40px;
    margin-top: 25px;
}

#chatbot {

}

.chatdiv {
    padding: 60px 60px;
    border: 5px solid #ffffff;
}

.output {
    text-align: center;
}