@font-face {
    font-family: "Trebuchet MS";
    src: url(Trebuchet_MS.ttf);
}

body {
    background-color: #000000;
    font-family: "Trebuchet MS";
    color: #ffffff;
}

.title {
    font-size: 2vw;
    text-align: center;
}

.input {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 18px;
    width: 79%;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}

.submit {
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 40px;
}

#chatbotForm {

}

.chatdiv {
    padding-top: 60vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 2px solid #ffffff;
    background-color: #000000;
}

.output {
    text-align: center;
}

.chatbot {
    padding-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: #303030;
}